{% extends 'base.html'%} {% block head%} {% endblock%} {% block body%}
<section class="products" id="products">
  <div class="section-title">
    <h2>Refrigerators by Style</h2>
  </div>
  <div class="products-center">
    <!-- single product  -->
    <article class="product">
      {%for a, b in jsonfile%}
      <table>
        <div class="img-container">
          <label>
            <img src="{{b['ImageUrl']}}" class="product-img" />
          </label>
        </div>
        <h3>HD Number: {{a}}</h3>
        <h3>MODEL: {{b["modelNbr"]}}</h3>
        <h4>${{b["price"]}}</h4>
        {%endfor%}
      </table>
    </article>
    <!-- end of single product  -->
    {% endblock%}
  </div>
</section>
