{% extends 'base.html'%} {% block head%} {% endblock%} {% block body%}
      <!-- products  -->
    <form method="POST"> 
      <div class="section-title">
        <h2 id="error" style= "color:red"> </h2> 
      </div>
      <ul class="errorMessages"></ul>
      <section class="products" id="products">
        <div class="section-title">
          <h2>Refrigerators by Style</h2>
        </div>
        <div class="products-center">
          <!-- single product  -->
          <article class="product">
            <div class="img-container">
              <label>
                <input class="radio" type="radio" name="fridge_type" value="french_door_refrigerator" required>
                <img
                  src="{{url_for('static',filename='images/refrigerators/french-door.png')}}"
                  alt="French Door Refrigerators"
                  class="product-img"
                />
              </label>  
            </div>
            <h3>French Door Refrigerators</h3>
          </article>
          <!-- end of single product  -->
          <!-- single product  -->
          <article class="product">
              <div class="img-container">
                <label>
                  <input class="radio" type="radio" name="fridge_type" value="side_by_side_refrigerator">
                    <img
                      src="{{url_for('static',filename='images/refrigerators/side-by-side.png')}}"
                      alt="Side-by-Side Refrigerators"
                      class="product-img"
                    />
                </label>  
              </div>
              <h3>Side-by-Side Refrigerators</h3>
          </article>
          <!-- end of single product  -->
          <!-- single product  -->
          <article class="product">
            <div class="img-container">
              <label>
                <input  class="radio"  type="radio" name="fridge_type" value="botton_freezer_refrigerator">
                <img
                  src="{{url_for('static',filename='images/refrigerators/botton-freezer.png')}}"
                  alt="Bottom Freezer Refrigerators"
                  class="product-img"
                />
              </label>  
            </div>
            <h3>Bottom Freezer Refrigerators</h3>
          </article>
          <!-- end of single product  -->
          <!-- single product  -->
          <article class="product">
            <div class="img-container">
              <label>
                <input class="radio"  type="radio" name="fridge_type" value="top_freezer_refrigerator">
                <img
                  src="{{url_for('static',filename='images/refrigerators/top-fridge.png')}}"
                  alt="Top Freezer Refrigerators"
                  class="product-img"
                />
              </label>  
            </div>
            <h3>Top Freezer Refrigerators</h3>
          </article>
          <!-- end of single product  -->
          <!-- single product  -->
          <article class="product">
            <div class="img-container">
              <label>
                <input  class="radio"  type="radio" name="fridge_type" value="freezerless_refrigerators">
                <img
                  src="{{url_for('static',filename='images/refrigerators/freezerless-fridge.jpg')}}"
                  alt="Freezerless Refrigerators"
                  class="product-img"
                />
              <label>
            </div>
            <h3>Freezerless Refrigerators</h3>
          </article>
          <!-- end of single product  -->
          <!-- single product  -->
          <article class="product">
            <div class="img-container">
              <label>
                <input  class="radio"  type="radio" name="fridge_type" value="upright_freezer">
                <img
                  src="{{url_for('static',filename='images/refrigerators/upright-freezer.png')}}"
                  alt="Upright Freezers"
                  class="product-img"
                />
              </label>  
            </div>
            <h3>Upright Freezers</h3>
          </article>
          <!-- end of single product  -->
          <!-- single product  -->
          <article class="product">
            <div class="img-container">
              <label>
                <input  class="radio"  type="radio" name="fridge_type" value="chest_freezer">
                <img
                  src="{{url_for('static',filename='images/refrigerators/chest-freezer.png')}}"
                  alt="Chest Freezers"
                  class="product-img"
                />
              </label>  
            </div>
            <h3>Chest Freezers</h3>
          </article>
          <!-- end of single product  -->
          <!-- single product  -->
          <article class="product">
            <div class="img-container">
              <label>
                <input  class="radio"  type="radio" name="fridge_type" value="mini_fridges">
                <img
                  src="{{url_for('static',filename='images/refrigerators/mini-fridge.jpg')}}"
                  alt="Mini Fridges"
                  class="product-img"
                />
              </label>  
            </div>
            <h3>Mini Fridges</h3>
          </article>
          <!-- end of single product  -->
        </div>
      </section>
      <!-- end of products  -->
      <!-- colors  -->
      <section class="colors" id="products">
        <div class="section-title">
          <h2>Refrigerator Finishes</h2>
        </div>
        <div class="products-center2">
          <!-- single product  -->
          <article class="product">
            <div class="img-container">
              <label>
                <input  class="radio"  type="radio" name="Color_Type" value="stainless_steel" required>
                <img
                  src="{{url_for('static',filename='images/stainless_steel.jpg')}}"
                  class="product-img2"
                />
              </label>  
            </div>
            <h3>Stainless Steel</h3>
          </article>
          <!-- end of single product  -->
          <!-- single product  -->
          <article class="product">
            <div class="img-container">
              <label>
                <input  class="radio"  type="radio" name="Color_Type" value="black">
                <img
                  src="{{url_for('static',filename='images/black.png')}}"
                  class="product-img2"
                />
              </label>  
            </div>
            <h3>Black</h3>
          </article>
          <!-- end of single product  -->
          <!-- single product  -->
          <article class="product">
            <div class="img-container">
              <label>
                <input  class="radio"  type="radio" name="Color_Type" value="white" required>
                <img
                  src="{{url_for('static',filename='images/white.png')}}"
                  class="product-img2"
                />
              </label>  
            </div>
            <h3>White</h3>
          </article>
          <!-- end of single product  -->
        </div>
      </section>
      <!-- end colors  -->
      <!-- size  -->
      <!-- end size  -->
      <!-- zip code  -->
      <section class="zip_code" id="products">
        <div class="section-title">
          <h2 style="margin-top: 3rem;">Zip code</h2>
          <h3>Please enter your zip code</h3>
        </div>
        <div class="products-center2">
          <article class="product">
            <input class="zip_code_box" type="tel" pattern="[0-9]*" 
            oninput="javascript: if (this.value.length == 5) document.getElementById('hidden-button').style.visibility='visible';"
            maxlength = "5" class="zip_code_box" placeholder="ZIP Code" 
            id="customer_zip_code" name="customer_zip_code" 
            autocomplete="off" required>
          </article>
        </div>
      </section>
      <!-- end zip code  -->
      <!-- SUBMIT BUTTON  -->
      <section class="products" id="products">
        <div class="products-center2">
          <input id="hidden-button"  type="SUBMIT" class="button-hidden" onclick="checkButton()">
        </div>
      </section>
    </form>
    <!-- END SUBMIT BUTTON  -->
    <!-- cart  -->
    <div class="cart-overlay">
      <div class="cart">
        <span class="close-cart">
          <i class="fas fa-window-close"></i>
        </span>
        <h2>Your cart</h2>
        <div class="cart-content">
          <!-- cart item-->
          <!-- end of  cart item-->
        </div>
      </div>
    </div>
{% endblock%}